.bg-primary{ background-color: black;}

.containter{
    background-color: antiquewhite;
    border-radius: 25px;
    }
.container-xxl{background-color: antiquewhite;}
.btn btn-primary{
    width:100%;
    height: 100%;
}